.common{
    position: absolute;
    padding: 5px;
    margin: 5px;
}
.nav{
    z-index: 1;
    position: relative;
    float: right;
}
body{
    background-color: black;
    color: white;
}
a{
    color: white;
}
.container{
    text-align: center;
}
.indented{
    margin-left: 20px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}